<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>256029873986-164phb61c23t37a1qau9i7efp2qkgjki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256029873986-164phb61c23t37a1qau9i7efp2qkgjki</string>
	<key>API_KEY</key>
	<string>AIzaSyAarfV9SScuF1CLYugccOTfKv3JWNuopmE</string>
	<key>GCM_SENDER_ID</key>
	<string>256029873986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.the-adventure-list</string>
	<key>PROJECT_ID</key>
	<string>the-adventure-life-41287</string>
	<key>STORAGE_BUCKET</key>
	<string>the-adventure-life-41287.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256029873986:ios:bcf78d51a88cfcdba91adb</string>
	<key>DATABASE_URL</key>
	<string>https://the-adventure-life-41287-default-rtdb.firebaseio.com</string>
</dict>
</plist>